<div class="container mt-4">
  <h2 class="mb-3">Sensor Drawing Tool</h2>

  <div class="row mb-3">
    <div class="col-md-4">
      <label for="sensorSelect" class="form-label">Select Sensor:</label>
      <select id="sensorSelect" class="form-select" [(ngModel)]="selectedSensorId">
        <option *ngFor="let s of sensors" [value]="s.id">{{ s.name }}</option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="startTime" class="form-label">Start Time:</label>
      <input type="datetime-local" id="startTime" class="form-control" [(ngModel)]="start">
    </div>
    <div class="col-md-4">
      <label for="endTime" class="form-label">End Time:</label>
      <input type="datetime-local" id="endTime" class="form-control" [(ngModel)]="end">
    </div>
  </div>

  <div class="mb-3">
    <canvas #drawCanvas width="800" height="400" class="border border-primary w-100"></canvas>
  </div>

  <button class="btn btn-success" (click)="saveDrawing()">Save Drawing</button>
</div>
